body {
    font-family: 'Arial', sans-serif;
    background: #bfe3b4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #000000;
}

button {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background: linear-gradient(45deg, #0f844b, #ff357a);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: linear-gradient(45deg, #0f844b, #ff357a);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: linear-gradient(45deg, #0f844b, #ff357a);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h2 {
    color: #000;
    text-align: center;
    margin-top: 40px;
}
